{% extends "layout.html" %}

{% block main %}
    <div class="image-carousel">
        <img src="static/img/home-page.jpeg" alt="home-page">
    </div>

    <div class="text-box">
        <h1>SkyWings Airlines</h1>

        <p>
            Fly with SkyWings Airlines and experience the epitome of comfort, reliability, and exceptional service. Our state-of-the-art fleet ensures a smooth and safe journey, while our dedicated crew goes above and beyond to cater to your every need. Enjoy spacious seating, gourmet meals, and an extensive in-flight entertainment selection. With our on-time guarantee and seamless check-in process, traveling has never been easier or more enjoyable. Choose SkyWings Airlines for a journey where every moment is designed with you in mind. Your sky-high satisfaction is our top priority.
        </p>
    </div>
{% endblock %}