<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== BOOTSTRAP ===============-->

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

      <!--=============== REMIXICONS ===============-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">

      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="/static/style.css">


      <title>SkyWings Airlines</title>
   </head>
   <body>
      <!--==================== HEADER ====================-->
      <header class="header" id="header">
         <nav class="nav container">
            <a href="/" class="nav__logo">SkyWings Airlines</a>

            <div class="nav__menu" id="nav-menu">
               <ul class="nav__list">
                  <li class="nav__item">
                     <a href="/" class="nav__link">Home</a>
                  </li>

                  <li class="nav__item">
                     <a href="/bookings" class="nav__link">Book</a>
                  </li>

                  <li class="nav__item">
                     <a href="/manage-booking" class="nav__link">Manage Booking</a>
                  </li>

                  <li class="nav__item">
                     <a href="/destinations" class="nav__link">Destinations</a>
                  </li>

                  <li class="nav__item">
                     <a href="/contact" class="nav__link">Contact us</a>
                  </li>
               </ul>

               <!-- Close button -->
               <div class="nav__close" id="nav-close">
                  <i class="ri-close-line"></i>
               </div>
            </div>

            <div class="nav__actions">
               <!-- Search button -->
               <i class="ri-search-line nav__search" id="search-btn"></i>

               <!-- Login button -->

               {% if session["user_id"] %}
                  <i class="ri-user-line nav__login" id="login-btn"></i>
               {% else %}
                  <a href="/login"><i class="ri-user-line nav__login" id="login-btn"></i></a>
               {% endif %}

               <!-- Toggle button -->
               <div class="nav__toggle" id="nav-toggle">
                  <i class="ri-menu-line"></i>
               </div>
            </div>
         </nav>
      </header>

      <!--==================== Profile management ====================-->
      <div class="search" id="profile">
         <div id="profile-Items">
            <a href="/logout"><p>Log-Out</p></a>
            <a href="/manage-booking"><p>Manage Bookings</p></a>
         </div>

         <i class="ri-close-line search__close" id="profile-close"></i>
      </div>

      <!--==================== SEARCH ====================-->
      <div class="search" id="search">
         <form action="" class="search__form">
            <i class="ri-search-line search__icon"></i>
            <input type="search" placeholder="What are you looking for?" class="search__input">
         </form>

         <i class="ri-close-line search__close" id="search-close"></i>
      </div>

      <!--=============== JS ===============-->
      <script src="/static/index.js"></script>
   
      <!--=============== main block ===============-->
      {% block main %}
      
      {% endblock %}
   </body>
</html>