{% extends "layout.html" %}

{% block main %}
    <div class="LoginForm">
        <h1 class="logintag">Sign Up</h1>
        <form action="/sign-up" method="post">
            <div class="form-group">
                <p class="usererror">{{ userer }}</p>
                <input type="input" class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1"> </label>
                <p class="passerror">{{ passer }}</p>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                <label for="exampleInputPassword1"> </label>
            </div>
            <a href="/login"><p>Already have an account? Log in here</p></a>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
{% endblock %}